@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
  --body-color: #ffff;
  --text-green: #8f6149;
  --text-light: #374151;
  --text-dark: #003366;
  --hover-color: rgba(100, 255, 218, 0.1);
  --text-underline: #a73131;
  --shadowColor: 0 10px 30px -10px rgba(2, 12, 27, 0.7);
  --nav-text-color: #003366;
}

.dark {
  --body-color: #121212;
  --text-green: #00ffff;
  --text-light: #ccd6f6;
  --text-dark: #8892b0;
  --hover-color: rgba(100, 255, 218, 0.1);
  --text-underline: #00ffff;
  --shadowColor: 0px 4px 10px rgba(255, 255, 255, 0.5);
  --nav-text-color: #ffffff;
}

.active {
  color: '#64ff';
}

.navbar {
  z-index: 300;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Your custom CSS class */
.underline-transition {
  /* color: #64FFDA; */
  /* Replace with your desired textGreen color */
  position: relative;
}

.underline-transition::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0.5rem;
  width: 0;
  background-color: var(--text-underline);
  /* Replace with your desired textGreen color */
  transition: all 300ms;
}

.underline-transition:hover::after {
  width: 100%;
}

.underline-transition::after {
  height: 1px;
}

.underline-transition::after {
  width: 0;
}

.underline-transition::after {
  bottom: 0;
}

.underline-transition::after {
  left: 0;
}

.underline-transition:hover::after {
  width: 100%;
}

.underline-transition::after {
  transition: all 300ms;
}

.underline-transition::after {
  transition-duration: 300ms;
}

.underline-transition {
  cursor: pointer;
}

.custom-bg {
  background-color: color-mix(in oklab, var(--body-color) 60%, transparent);
}

/* globals.css */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-up {
  animation: fadeInUp 0.8s ease-out forwards;
}

@keyframes jiggle {
  0% {
    transform: translateY(0) rotate(0);
  }
  20% {
    transform: translateY(-10px) rotate(-10deg);
  }
  40% {
    transform: translateY(10px) rotate(10deg);
  }
  60% {
    transform: translateY(-10px) rotate(-10deg);
  }
  80% {
    transform: translateY(10px) rotate(10deg);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}

.animated-span {
  display: inline-block;
  transition: transform 0.2s ease;
  cursor: pointer;
}

.animated-span:hover {
  animation: jiggle 0.6s ease-in-out;
}
